ul {
	list-style: disc;
	max-width: 100%;
}
ul.inline {
	display: inline-block;	
}
ul.no-style {
	list-style: none;
	padding: 0
}
li.separated-style {
	border-bottom:1px solid silver;
	padding:15px 0;
}
li.separated-style:last-child {
	border-bottom: none;
}