{{!< layout}}

<div class="NotFoundPage contentContainer">
	<h1 class="h1 u-alignCenter">404 Not found</h1>
	<h2 class="h2 u-alignCenter">We could not find the page you are trying to visit.</h2>
	<a href="/">Go to the front page</a>
</div>