<footer class="mdl-mega-footer Footer">
  <div class="mdl-mega-footer__middle-section contentContainer u-alignLeft">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading Footer-heading">For refugees</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a class="noUnderline" href="/">How it works</a></li>
        <li><a class="noUnderline" href="/">Provide your details</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading Footer-heading">For companies</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a class="noUnderline" href="/">FAQ</a></li>
        <li><a class="noUnderline" href="/">Register job listing</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading Footer-heading">Contact</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a class="noUnderline" href="/">E-mail</a></li>
        <li><a class="noUnderline" href="/">Facebook</a></li>
      </ul>
    </div>
  </div>

</footer>